

.tituloc{
    color: rgb(9, 37, 107);
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    margin-top:300px ;
    text-decoration: none;
}

.nav-link{
    color: aliceblue;
    margin-left: 40px;
    margin-bottom:300px ;
    text-decoration: none;
   
}
.navbar-nav{
    margin-left: 1px;
    display: flex;
    text-decoration: none;
    margin-top: 1px;
    width:1600px ;
    height: 60px;

   
    
}

.navbar-brand{
    text-decoration: none;
   
}